<form (ngsubmit)="addCourse(courseDetails)">
<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Course</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="courseDetails.name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="courseDetails.drId" class="form-control" placeholder="drId">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="courseDetails.drName" class="form-control" placeholder="drName">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" >Create Course</button>
    </div>

  </div>
</div>
</form>