<nav class="nav">
  <div class="container">
      <div class="logo">
          <a href="#"><img [src]='logo'  height="60"></a>
      </div>
      <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
              <li><a href="#" style="font-size: 15px;  ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                about
              </a></li>
              <li><a href="/portfolio" style="font-size: 15px;" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Portfolio
              </a></li>
              <li><a href="#" style="font-size: 15px;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Services
              </a></li>
              <li>
                <a href="#" style="font-size: 15px;">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Contact
                </a></li>
          </ul>
      </div>
      <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
      </span>
  </div>
</nav>

