<div class="wrapper container-fluid " style="background-color: black;">
  <div class="row">
  <div class=" typing-demo col" style="color:white;">

    I Love coding<hr>
     Smart Development<hr>
      Ahmed Khalil<hr>
       Take a look to my portfolio
  </div>

</div >
<div class="row field-dark "  >
<h1 class="col" style="color: white;"> Ahmed Khalil</h1>
<h1 style="color: white;"> Ahmed Khalil</h1>
<h1 style="color: white;"> Ahmed Khalil</h1>
<h1 style="color: white;"> Ahmed Khalil</h1>
<h1 style="color: white;"> Ahmed Khalil</h1>
<h1 style="color: white;"> Ahmed Khalil</h1>
</div>
</div>

